/* search */

body {
    /* background-color: black; */
    /* font-family: "San Francisco", sans-serif; */
}

#blogs-search {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: whitesmoke;
    height: auto;
    flex-direction: column;
}

#search-bar {
    padding: 0.5rem 2rem;
    margin-left: 3rem;
}